@model RecipeInfo

<h2>@Model.Title</h2>

<div class="thumbnail">
    <img alt="@Model.Title" src="@Model.ImageUrl">
    <div class="caption-full">
        <h3>
            <a href="#">@Model.Title</a>
        </h3>
        <h4>@Model.ReferenceInfo</h4>
        <p>@Model.Description</p> 
    </div>
 </div>



